<main class="container">
  <app-search></app-search>
  <table class="table" *ngIf="movies.length > 0">
    <thead>
      <tr>
        <th>Titre</th>
        <th>Note Rotten Tomatoes</th>
        <th>Note IMDB</th>
        <th>Votes IMDB</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let movie of movies" [routerLink]="'/movies/' + movie.id">
        <td>{{ movie.title }}</td>
        <td>{{ movie.rottenTomatoesRating }}</td>
        <td>{{ movie.imdbRating }}</td>
        <td>{{ movie.imdbVotes }}</td>
      </tr>
    </tbody>
  </table>
</main>
