<main class="container">
  <app-search></app-search>
  <table class="table" *ngIf="movies.length > 0">
    <thead>
      <tr>
        <th app-sorter title="Titre" sortBy="title"></th>
        <th app-sorter title="Note Rotten Tomatoes" sortBy="rottenTomatoesRating"></th>
        <th app-sorter title="Note IMDB" sortBy="imdbRating"></th>
        <th app-sorter title="Votes IMDB" sortBy="imdbVotes"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let movie of movies" [routerLink]="'/movies/' + movie.id">
        <td>{{ movie.title }}</td>
        <td>{{ movie.rottenTomatoesRating }}</td>
        <td>{{ movie.imdbRating }}</td>
        <td>{{ movie.imdbVotes }}</td>
      </tr>
    </tbody>
  </table>
</main>
